<!DOCTYPE html>
<html lang="en-US">




<body>

<pre>

</pre>


<div class="container mt-4">


    <h2 class="text-center"> create article  </h2> 
    <pre></pre>
    
    <div class="col-6 mx-auto">
        <h5>Title</h5>
        <input  type="text" class="form-control m-1" [(ngModel)]="title">
        <h5>Object</h5>
        <input  type="text" class="form-control m-1" [(ngModel)]="object">
        <h5>Short Description</h5>
        <input  type="text" class="form-control m-1"  id="des" [(ngModel)]="des">
        
        <p>
        </p>
        <label for="options"><h5>Select Type:</h5></label><br>
        
        <select id="options" [(ngModel)]="type">
         
          <option value="electronic">Electronics&Multimedia</option>
          <option value="clothing">Clothing</option>
          <option value="accesoires">accesoires</option>
          <option value="cash">Cash</option>
          <option value="vehicule">Vehicule</option>
        
         
          
          
        </select>
        <br>
        <p></p>
        <label for="options"><h5>Select region:</h5></label><br>
        
<select id="options" [(ngModel)]="place" >
 
  <option value="o1">Ariana</option>
  <option value="o2">Béja</option>
  <option value="o3">Ben Arous</option>
  <option value="o4">Bizerte</option>
  <option value="o5">Gabès</option>
  <option value="o6">Gafsa</option>
  <option value="o7">Jendouba</option>
  <option value="o8">Kairouan</option>
  <option value="o9">Kasserine</option>
  <option value="o10">Kebili</option>
  <option value="o11">Kef</option>
  <option value="o12">Mahdia</option>
  <option value="o13">Manouba</option>
  <option value="o14">Medenine</option>
  <option value="o15">Monastir</option>
  <option value="o16">Nabeul</option>
  <option value="o17">Sfax</option>
  <option value="o18">Sidi Bouzid</option>
  <option value="o19">Siliana</option>
  <option value="o20">Sousse</option>
  <option value="o21">Tataouine</option>
  <option value="o22">Tozeur</option>
  <option value="o23">Tunis</option>
  <option value="o24">Zaghouan</option>
  
  
</select>
<br>
<br>
<h5>Select time of finding:</h5><br>
<input type="date" id="date1" [(ngModel)]="date">
   
        
        <pre>

        </pre>
        <h5>Upload picture of item:</h5><br>
        <input type="file"  class="form-control m-1" placeholder="image" id="img1" [(ngModel)]="pic">
        <p></p>

        <h5>Detailed Description</h5><br>
        <textarea id="" cols="30" rows="4" placeholder="give a more in depth description" class="form-control m-1" id="des2" [(ngModel)]="detail" ></textarea>

        
<p>
</p>
        <button  class="btn btn-dark form-control m-1" >Create</button>
        <PRE>




        </PRE>


    </div>

</div>
</body>
</html>